.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 0vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}
.App-header-content{
  margin: 30px;
  /* background-color: #fff; */
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: row;
  max-height: 50px;
}
.headerBtn{
  background-color: rgb(219, 143, 30);
  margin-right: 10px;
  text-decoration: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 4px;

  overflow: visible;


}

#solscan{
  text-decoration: none;
  color: white;
}
#solscan:hover{
  color: rgb(170, 168, 168);
}

#fuckBtnSend{
  width: 200px;
  height: 80px;
  border-radius: 15px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: orange;
  border: 0;
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}
#fuckBtnSend:hover{
  background-color: rgb(219, 110, 7);
  transition: background-color 0.3s ease; /* Smooth hover effect */


}
.navLinkBtn{
  margin-left: -110px;
  display: flex;
  flex-direction: row;

}
#sendFuck{
  text-decoration: none;
  content: none;
}
#arrow{
  margin-right: -40px;
}

a{
  text-decoration: none;
}
a .headerBtn:hover {
  background-color: rgb(163, 100, 6);
  transition: background-color 0.3s ease; /* Smooth hover effect */

}

.App-main{
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-main-second{
  margin: 0;
  background-color: #282c34;

}
.App-link {
  color: #61dafb;
}

#connectBtn{
  margin-bottom: 30px;
}

#Fuck{
  margin-top:-40px;
  margin-bottom: 20px;
}

.social{
  margin-bottom: 15px;
}
.imgLinkSocial{
  width: 40px;
  margin: 10px;
}

#CA{
  margin: 0;
  margin-bottom: 10px;
  font-size: calc(10px + 1vmin);
}

